### ekf config file ###
ekf_filter_node:
    ros__parameters:
        # -------------------------------
        # 通用滤波器配置
        # -------------------------------
        frequency: 30.0  # 决定EKF每秒输出几次位置估计，这里表示1s输出20次。注意：需要考虑输入数据的频率(/odom,/imu_data_raw)
        sensor_timeout: 1.5 # 如果某个传感器超过这个时间没发消息，EKF 就不再用它的数据，只预测，不校正。可防止某个坏传感器卡住滤波器。@RT orig 1.5

        two_d_mode: true  
        # 机器人是否在平面环境中运行，true表示将每次测量中的3D位姿变量置零
        # 表示机器人只在平面上运动，不关心上下(Z)的变化，也不关心 roll/pitch（倾斜）
        # 滤波器忽略 Z、roll、pitch 以及它们的速度和加速度，只用二维（X, Y, yaw）

        transform_time_offset: 0.0  #输出TF时间偏移（未来几毫秒），某些系统需要这个。
        transform_timeout: 0.1  #TF查找超时时间。0表示立即取最新值
                            #如EKF等待odom → base_link的TF转换时，最多等0.1秒（100毫秒）去找TF，如果还没有就跳过这次
                            #如果设置太大系统可能等待太久，出现数据延迟
        print_diagnostics: true  #RT orig false   #是否在终端里打印诊断信息
        debug: false               #是否开启“调试模式”，让 EKF 把所有运行日志写入文件。
        debug_out_file: /path/to/debug/file.txt #指定调试输出文件的路径（仅在debug: true时生效）。

        publish_tf: true  # RT orig true 是否发布 odom → base_link 的 tf 转换
        publish_acceleration: false  # 是否发布线加速度话题/accel/filtered（一般不需要）

        # -------------------------------
        # 坐标系设置
        # -------------------------------
        # 坐标系定义
        map_frame: map                     # 全局固定地图坐标（不会连续漂移，但可能跳变）
        # odom_frame: odom_combined  RT ORIG        # 里程计坐标（连续、短期准、长期会漂）
        odom_frame: odom #RT orig odom_combined
        # base_link_frame: base_footprint RT ORIG   # 机器人自身坐标（随机器人移动）
        base_link_frame: base_footprint #Rt orig base_footprint
        # world_frame: odom_combined RT ORIG
        world_frame: odom  #RT orig odom_combined# EKF输出使用哪个世界坐标(仅融合odom+imu则设置为odom的frame id)
        # -------------------------------
        # 传感器输入：Odom（编码器）
        # -------------------------------
        odom0: odom # 里程计话题名  RT was odom
        # 里程计数据融合配置：从 /odom 中要融合哪些变量
        odom0_config: [true, true, false,     #RT was false, false, false,
                       false, false, true,  #RT yaw stond op false
                       true,  true,  true,   #RT yaw stond op false
                       false, false, true,   #RT yaw stond op false
                       false, false, false]   #RT Z stond op true
                  # 位置          [x_pos, y_pos, z_pos,
                  # 姿态          roll, pitch, yaw,
                  # 线速度         x_vel, y_vel, z_vel, 
                  # 角速度         roll_vel, pitch_vel, yaw_vel,
                  # 加速度         x_accel, y_accel, z_accel]

                  # 关于 y_vel：
                  #若机器人不能横移，y_vel=0，可融合此值提高稳定性（前提是协方差未设为极大值）。
                  # 关于 z_vel：
                  #因为 two_d_mode=true，z_vel 被强制为 0，无需加入。
        odom0_queue_size: 5        # 滤波器接收odom数据的缓存队列长度
        odom0_nodelay: false       # 网络传输延迟控制（是否启用 tcpNoDelay，关闭TCP的Nagle算法）
        odom0_differential: false  # True表示将绝对位置/姿态转换为速度(差分融合)

        odom0_relative: false #RT ORIG True  # 是否让所有Odom测量值相对第一次测量时刻
        # -------------------------------
        # 传感器输入：IMU
        # -------------------------------
        imu0: /imu/data_raw
        imu0_config: [false, false, false,
                      false, false, true,
                      false, false, false,
                      false, false, true,
                      false, false, false]
                    # 位置          [x_pos, y_pos, z_pos,
                    # 姿态          roll, pitch, yaw,
                    # 线速度         x_vel, y_vel, z_vel, 
                    # 角速度         roll_vel, pitch_vel, yaw_vel,
                    # 加速度         x_accel, y_accel, z_accel]

                    # Y加速度不会瞬时变化，所以融合不融合Y加速度
                    # Y方向噪声大，轮式机器人不横向加速，建议设为false避免姿态漂移

        imu0_nodelay: false      # 网络传输延迟控制
        imu0_differential: true  # 差分模式：如果为true，这个传感器的位姿数据不会直接拿来融合，而是会转换为速度，#RT stond op false
                                 # 通过两次测量的差来计算，滤波器就不会在融合绝对位置，而是融合变化量——速度
        imu0_relative: false    #RT stond op true # IMU测量本身为相对变化
        imu0_queue_size: 5    #RT stond op 5   # IMU消息缓存长度，高频IMU可适当调大

        # 异常数据过滤阈值（马氏距离）：这些是拒绝异常值的阈值，用来避免错误数据“污染滤波”。
        # 测量值和当前估计值对比，超过阈值则拒绝该帧数据
        imu0_pose_rejection_threshold: 20.0   # 姿态异常过滤（如roll/pitch/yaw跳变）
        imu0_twist_rejection_threshold: 1.542 # 角速度异常过滤(如yaw_vel跳变)
        imu0_linear_acceleration_rejection_threshold: 10.0 # 加速度异常过滤

        imu0_remove_gravitational_acceleration: true  # 是否从IMU加速度中去除重力分量（true表示自动减重力）

        # -------------------------------
        # 控制输入项（cmd_vel）——可选
        # -------------------------------
        # 已融合IMU加速度则不必开启控制输入，否则会重复
        use_control: true   #RT stond op false   # 若已融合IMU加速度，则保持false,设置为true时使用/cmd_vel预测状态，把线速度、角速度转成“预测用的加速度项”
                                #如果是false，则下面的参数不需要考虑：[stamped_control，control_timeout，control_config，acceleration_limits，deceleration_limits，
                                #acceleration_gains，deceleration_gains]

        stamped_control: false  # 控制消息类型: false表示使用/cmd_vel,若为true，则使用/cmd_vel_stamped
        control_timeout: 0.2    # 超时后不再使用控制项:若超过 0.2 秒没有新命令，就不再用旧的控制输入预测
        control_config: [true, false, false, false, false, true]  # 控制输入项 (vx, vy, vz, vroll, vpitch, vyaw)
                                                                  # 表示机器人可控制前进速度vx和角速度yaw
        acceleration_limits: [1.3, 0.0, 0.0, 0.0, 0.0, 3.4]  # 各方向最大加速度
        deceleration_limits: [1.3, 0.0, 0.0, 0.0, 0.0, 4.5]  # 各方向最大减速度
        acceleration_gains: [0.8, 0.0, 0.0, 0.0, 0.0, 0.9]   # 加速度变化平滑系数
                                                             # vx方向加速度80%，yaw方向90%
        deceleration_gains: [1.0, 0.0, 0.0, 0.0, 0.0, 1.0]   # 减速度变化平滑系数

        # -------------------------------
        # 状态过程噪声（可微调）
        # -------------------------------
        process_noise_covariance: [0.05, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.05, 0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.06, 0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.03, 0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.03, 0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.06, 0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.025, 0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.025, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.04, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.01, 0.0,    0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.01, 0.0,    0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.02, 0.0,    0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.01, 0.0,    0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.01, 0.0,
                                   0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.015]

        # -------------------------------
        # 输出状态的协方差控制
        # -------------------------------
        initial_estimate_covariance: [1e-9, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    1e-9, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    1e-9, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    1e-9, 0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    1e-9, 0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    1e-9, 0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-9, 0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-9, 0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-9, 0.0,     0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    1e-9,  0.0,     0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     1e-9,  0.0,     0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     1e-9,  0.0,    0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     1e-9, 0.0,    0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    1e-9, 0.0,
                                      0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,    0.0,     0.0,     0.0,     0.0,    0.0,    1e-9]

